* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 50px;
  text-align: center;
}

a {
  position: fixed;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 7px rgba(124, 124, 124, 0.1);
  right: 15px;
  bottom: 100px;
  opacity: 0;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

a .fa-arrow-up {
  color: #16ae37;
}

.page-top.moveleft {
  animation: fadeLeft 0.5s forwards;
}

.page-top.moveright {
  animation: fadeRight 0.5s forwards;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
